extends layout_aboutus
block content
    .block1
        img(src='/img/about/avocado.jpg')(style="width:100%;")
        #shakie    
            p SHAKIE VEGGIE
            p#detail DELIVER HEALTHINESS AND FRESHNESS TO YOUR DOORBELL

    .block2
        p 
            a#what WHAT IS SHAKIE VEGGIE
        #detail_what
            p
            | SHAKIE VEGGIE IS A 
            span(style="font-size:16px;") FRUIT AND VEGETABLE JUICE 
            | THAT YOU CAN CHOOSE THE PROPERTIES
            | AND THE INGREDIENTS THROUGH OUR WEBSITE WHICH WILL ALSO PROTECT YOU FROM CHOOSING
            br
            | THE INGREDIENTS THAT WILL HARM YOUR BODY, WE CAN ALSO SAY THAT
            br
            | SHAKIEVEGGIE IS 
            span(style="font-size:16px;") YOUR PERSONAL HEALTH GUARD 
            | THAT YOU WILL
            br 
            |  NEVER FORGET.
        .column
            div
                img(src='/img/about/certificate.png')
                p.service CERTIFICATE
                p.detail_s APPROVAL BY BLABLABLA COORPERATION WITH A CERTIFICATE NO. 0123456789
            div
                img(src='/img/about/harvest.png')
                p.service FRUIT ORIGIN
                p.detail_s 100% ORGANIC FRUIT FROM BLABLABLA ORCHARD IN BLABLABLA PROVINCE
            div
                img(src='/img/about/truck.png')
                p.service DELIVERY
                p.detail_s WE SENDING SHAKIE VEGGIE TO YOU BY BLABLABLA COMPANY THAT YOU WILL RECEIVE IN 2-3 DAYS
    .block3
        .row
            .col-6
                .order
                    p#how 
                        a(name='what_is') HOW TO ORDER SHAKIE VEGGIE ?
                    hr
                    .det
                        p
                        | 1. CHOOSE THE FORMULA OF SHAKKIEVEGGIE
                        br
                        | 2. TELL US ABOUT YOUR HEALTH CONDITION BY CHECKING
                        | THE CHOICES
                        br
                        | 3. CHOOSE THREE INGREDIENTS THAT YOU WANT TO MIX 
                        | TOGETHER
                        br
                        | 4. SELECT THE AMOUNT YOU WANT AND ADD THEM TO CART
                        br
                        | 5. DO 1-4 AGAIN IF YOU WANT TO ORDER MORE. IF NOT, CLICK
                        | CHECKOUT
                        br
                        | 6. CHECK AND PAY THE BILL THEN WAIT FOR YOUR SHAKIE VEGGIE AT YOUR FRONT DOOR!!!
            .col-6(style="background-size: cover;background-image:url(/img/about/lemon.png)")
    

    .f_about(style="background-color:white")
            br
            #f1 developed by
            #f2 JUBCHAI Organiser
            br
        
