html
    head
        title About us
        link(rel='stylesheet', type='text/css', href='/css/about_style.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        if (user && user.username == 'admin')
            nav#myTopnav.topnav
                div(style="position:absolute; z-index:1;right:0;")
                    button.login
                        if user
                            a(href='/users/logout')#white logout
                            button.login
                                h9 #{user.username}
                        else
                            a(href='/users/login')#white login
            
            a(href='/')(style="position:absolute; z-index:1;left:2.75%;top:5.5%")
                img.logo-pos(src='/img/logo_circle.png')
            .blue_reg
            .admin_buttons    
            .row
                a.btn#admin_button(href='/admin/payment') ORDER PAYMENT
            .row
                a.btn#admin_button2(href='/admin/mixing') MIXING
            .row
                a.btn#admin_button2(href='/admin/sending') SENDING
            img.auntie(src='/img/index/auntie.png')
            .white_reg
            .pos_cen2
            .center3 SHAKIE VEEGIE
        else
            nav#myTopnav.topnav
                div(style="position:absolute; z-index:1;right:10;")
                    button.login
                        if user
                            a(href='/users/logout')#white logout
                            button.login
                                h9 #{user.username}
                        else
                            a(href='/users/login')#white login
                    button.login
                        if user
                            a(href='/payment/tracking/' + user._id)#white tracking
                a.icon(href='javascript:void(0);', onclick='myFunction()') ☰
            
            a(href='/')(style="position:absolute; z-index:1;left:2.75%;top:5.5%")
                img.logo-pos(src='/img/logo_circle.png')
        img(src="/img/about/avocado.jpg")
        p SHAKIE VEGGIE
        p DELIVERY HELTHY AND FRESHNESS AT YOUR DOORBELL
        p WHAT IS SHAKIE VEGGIE
        p
        | SHAKIE VEGGIE IS A FRUIT AND VEGGETABLE JUICE THAT YOU CAN CHOOSE THE PROPERTIES
        | AND THE INGREDIENTS THROUGH THE WEBSITE THAT WIILL ALSO  PROTECT YOU FROM CHOOSING
        | THE INGREDIENTS THAT WILL HARM TO YOUR BODY CAN ALSO SAY THAT
        | SHAKIEVEGGIE IS YOUR PERSONAL HEALTH GUARD THAT YOU  WILL
        | NEVER FORGET.
        img(src='/img/about/certificate.png')
        p CERTIFICATE
        p
        | APPROVAL BY BLABLABLA COORPERATION
        | WITH A CERTIFICATE NO. 0123456789
        img(src='/img/about/harvest.png')
        p FRUIT ORIGIN
        p
        | 100% ORGANIC FRUIT FROM BLABLABLA ORCHARD
        | IN BLABLABLA PROVINCE
        img(src='/img/about/truck.png')
        p DELIVERY
        p
        | WE SENDING SHAKIE VEGGIE TO YOU BY
        | BLABLALBA COMPANY THAT YOU WILL RECIEVE IN 2-3 DAYS
        p HOW TO ORDER SHAKIE VEGGIE ?
        p
        | 1. CHOOSE THE FORMULA OF SHAKKIEVEGGIE
        | 2. TELL US ABOUT YOUR HEALTH CONDITION BY CHECKING
        | THE CHOICES
        | 3. CHOOSE THREE INGREDIENTS THAT YOU WANT TO MIX IT
        | TOGETHER
        | 4. SELECT AMOUNT THAT YOU WANT AND ADD THEM TO CART
        | 5. DO 1-4 AGAIN IF YOU WANT TO ORDER MORE. IF NOT, CLICK
        | CHECKOUT
        | 6. CHECK AND PAY THE BILL THEN WAIT FOR YOUR SHEKIE VEGGIE
        | AT YOUR FRONT DOOR!!!
        img(src='/img/about/lemon.png')

        