extends layout_aboutus
block content
    .block1
        img(src='/img/about/avocado.jpg')(style="width:100%;")
        #shakie    
            p SHAKIE VEGGIE
            p#detail DELIVERY HEALTHY AND FRESHNESS AT YOUR DOORBELL

    .block2
        p 
            a#what WHAT IS SHAKIE VEGGIE
        #detail_what
            p
            | SHAKIE VEGGIE IS A 
            span(style="font-size:18px;") FRUIT AND VEGGETABLE JUICE 
            | THAT YOU CAN CHOOSE THE PROPERTIES
            | AND THE INGREDIENTS THROUGH THE WEBSITE THAT WIILL ALSO  PROTECT YOU FROM CHOOSING
            | THE INGREDIENTS THAT WILL HARM TO YOUR BODY CAN ALSO SAY THAT
            | SHAKIEVEGGIE IS 
            br
            span(style="font-size:18px;") YOUR PERSONAL HEALTH GUARD THAT YOU  WILL
            | NEVER FORGET.
        .column
            div
                img(src='/img/about/certificate.png')
                p.service CERTIFICATE
                p.detail_s
                | APPROVAL BY BLABLABLA COORPERATION
                | WITH A CERTIFICATE NO. 0123456789
            div
                img(src='/img/about/harvest.png')
                p.service FRUIT ORIGIN
                p.detail_s
                | 100% ORGANIC FRUIT FROM BLABLABLA ORCHARD
                | IN BLABLABLA PROVINCE
            div
                img(src='/img/about/truck.png')
                p.service DELIVERY
                p.detail_s
                | WE SENDING SHAKIE VEGGIE TO YOU BY
                | BLABLALBA COMPANY THAT YOU WILL RECIEVE IN 2-3 DAYS
    .block3
        .row
            .col-6
                .order
                    p#how 
                        a(name='what_is') HOW TO ORDER SHAKIE VEGGIE ?
                    hr
                    p
                    | 1. CHOOSE THE FORMULA OF SHAKKIEVEGGIE
                    br
                    | 2. TELL US ABOUT YOUR HEALTH CONDITION BY CHECKING
                    | THE CHOICES
                    br
                    | 3. CHOOSE THREE INGREDIENTS THAT YOU WANT TO MIX IT
                    | TOGETHER
                    br
                    | 4. SELECT AMOUNT THAT YOU WANT AND ADD THEM TO CART
                    br
                    | 5. DO 1-4 AGAIN IF YOU WANT TO ORDER MORE. IF NOT, CLICK
                    | CHECKOUT
                    br
                    | 6. CHECK AND PAY THE BILL THEN WAIT FOR YOUR SHEKIE VEGGIE
                    | AT YOUR FRONT DOOR!!!
            .col-6(style="background-size: cover;background-image:url(/img/about/lemon.png)")
    

        
