html
    head
        title About us
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        link(rel='stylesheet', type='text/css', href='/css/formulastyle.css')
        link(rel='stylesheet', type='text/css', href='/css/about_style.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        if (user && user.username == 'admin')
            nav#myTopnav.topnav
                div(style="position:absolute; z-index:1;right:0;")
                    button.login
                        if user
                            a(href='/users/logout')#white logout
                            button.login
                                h9 #{user.username}
                        else
                            a(href='/users/login')#white login
            
            a(href='/')(style="position:absolute; z-index:1;left:2.75%;top:5.5%")
                img.logo-pos(src='/img/logo_circle.png')
            .blue_reg
            .admin_buttons    
            .row
                a.btn#admin_button(href='/admin/payment') ORDER PAYMENT
            .row
                a.btn#admin_button2(href='/admin/mixing') MIXING
            .row
                a.btn#admin_button2(href='/admin/sending') SENDING
            img.auntie(src='/img/index/auntie.png')
            .white_reg
            .pos_cen2
            .center3 SHAKIE VEGGIE
        else
            nav#myTopnav.topnav
                div(style="position:absolute; z-index:1;right:10;")
                    button.login
                        if user
                            a(href='/users/logout')#white logout
                            button.login
                                h9 #{user.username}
                        else
                            a(href='/users/login')#white login
                    button.login
                        if user
                            a(href='/payment/tracking/' + user._id)#white tracking
                a.icon(href='javascript:void(0);', onclick='myFunction()') ☰
            
            a(href='/')(style="position:absolute; z-index:1;left:2.75%;top:5.5%")
                img.logo-pos(src='/img/logo_circle.png')
        .block1
            img(src='/img/about/avocado.jpg')(style="width:100%;")
            #shakie    
                p SHAKIE VEGGIE
                p#detail DELIVERY HELTHY AND FRESHNESS AT YOUR DOORBELL
        .block2
            p#what WHAT IS SHAKIE VEGGIE
            #detail_what
                p
                | SHAKIE VEGGIE IS A 
                span(style="font-size:18px;") FRUIT AND VEGGETABLE JUICE 
                | THAT YOU CAN CHOOSE THE PROPERTIES
                | AND THE INGREDIENTS THROUGH THE WEBSITE THAT WIILL ALSO  PROTECT YOU FROM CHOOSING
                | THE INGREDIENTS THAT WILL HARM TO YOUR BODY CAN ALSO SAY THAT
                | SHAKIEVEGGIE IS 
                br
                span(style="font-size:18px;") YOUR PERSONAL HEALTH GUARD THAT YOU  WILL
                | NEVER FORGET.
            .column
                div
                    img(src='/img/about/certificate.png')
                    p.service CERTIFICATE
                    p.detail_s
                    | APPROVAL BY BLABLABLA COORPERATION
                    | WITH A CERTIFICATE NO. 0123456789
                div
                    img(src='/img/about/harvest.png')
                    p.service FRUIT ORIGIN
                    p.detail_s
                    | 100% ORGANIC FRUIT FROM BLABLABLA ORCHARD
                    | IN BLABLABLA PROVINCE
                div
                    img(src='/img/about/truck.png')
                    p.service DELIVERY
                    p.detail_s
                    | WE SENDING SHAKIE VEGGIE TO YOU BY
                    | BLABLALBA COMPANY THAT YOU WILL RECIEVE IN 2-3 DAYS
        .block3
            .row
                .col-6
                    .order
                        p#how HOW TO ORDER SHAKIE VEGGIE ?
                        hr
                        p
                        | 1. CHOOSE THE FORMULA OF SHAKKIEVEGGIE
                        br
                        | 2. TELL US ABOUT YOUR HEALTH CONDITION BY CHECKING
                        | THE CHOICES
                        br
                        | 3. CHOOSE THREE INGREDIENTS THAT YOU WANT TO MIX IT
                        | TOGETHER
                        br
                        | 4. SELECT AMOUNT THAT YOU WANT AND ADD THEM TO CART
                        br
                        | 5. DO 1-4 AGAIN IF YOU WANT TO ORDER MORE. IF NOT, CLICK
                        | CHECKOUT
                        br
                        | 6. CHECK AND PAY THE BILL THEN WAIT FOR YOUR SHEKIE VEGGIE
                        | AT YOUR FRONT DOOR!!!
                .col-6(style="background-size: cover;background-image:url(/img/about/lemon.png)")

        
