extends layout1

block content
    h1 #{title}
    form(method='POST',action='/order/addorder')
        #form-group
            label username:
            input.form-control(name='username',type='text')
        #form-group
            label address:
            input.form-control(name='address',type='text')
        #form-group
            label totalprice:
            input.form-control(name='totalprice',type='text')
        #form-group
            label paymentstatus:
            input.form-control(name='paymentstatus',type='text')
        br
        input.btn.btn-primary(type='submit',value='Submit')