html
    head
        title Bill Payment
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/billpayment_style.css")
    body
        img.payment_bg(src="/img/billpayment/bill_bg.jpg")
        .bill_scope
            .bill_bluetag
                img.bill_logo(src="/img/logo_circle.png")
            .bill_textbox1
                .bill_text 
                    p SHAKKIE VEGGIE ACOUNT :
                    p PAYMENT BANK :
                    p DEPOSITARY BRANCH :
                    p DATE OF PAYMENT : 
                    p - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                    p REFERENCE 1 :
                    p REFERENCE 2 :
                    p PAYMENT AMOUNT :
                    p - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                    p DISPOSOR'S NAME :
                    p DISPOSOR'S SIGNATURE :
                    P RECIPIENT'S NAME :
                    P RECIPIENT'S NAME :
                    .bill_space
            .bill_textbox2
                .bill_text4
                    p 012345689
                    p BLABLABLA BANK
                    p ____________________
                    p ____________________
                    br
                    p #{order._id}
                    p #{order.username}
                    p #{order.totalprice}.00 ฿
                    br
                    p ____________________
                    p ____________________
                    P ____________________
                    P ____________________
                    .bill_space
            .bill_textbox3
                .bill_text2
                    p NOTE :

                .bill_text3
                    p - PLEASE PRINT OUT ( PRESS "PRINT THE BILL" BUTTON ) THIS BILL PAYMENT AND PAY IT AT BLALBLABLA BANK 
                    p - THIS PAYMENT ONLY AVAILABLE AT BLABLABLA BANK
                    p - PLEASE PAY THIS BILL WITHIN 7 DAYS.
                    p - THE BANK FEES IS 10฿ NATIONWIDE.
            .billbutblock
                button(onclick="javascript:window.print()" class="btn-print")#button_bill PRINT  THE  BILL
                br
                br
                a(href="/")#button_bill CONTINUE  CHECKOUT
    br
    
            
            