extends layout1

block content
    form(method='POST',action='/custom')
    br
    #myModal.modal
        // Modal content
        .modal-content
            h2.text-center Helth Condition
            .mt-3
                .form-check
                    input#kidney.form-check-input(type='checkbox', value='kidney')
                    label.form-check-label(for='kidney')
                        | kidney
                .form-check
                    input#liver.form-check-input(type='checkbox', value='liver')
                    label.form-check-label(for='liver')
                        | liver
                .form-check
                    input#hyper.form-check-input(type='checkbox', value='hypertension')
                    label.form-check-label(for='hypertension')
                        | hypertension
                .form-check
                    input#diabete.form-check-input(type='checkbox', value='diabetes')
                    label.form-check-label(for='diabete')
                        | diabete
                .form-check
                    input#pregnant.form-check-input(type='checkbox', value='pregnant')
                    label.form-check-label(for='pregnant')
                        | pregnant
                .form-check
                    input#surgery.form-check-input(type='checkbox', value='surgery')
                    label.form-check-label(for='surgery')
                        | surgery
            
            button.btn.btn-defult.text-uppercase#myBtn(type='submit',value='Submit') Submit
    h1.text-center Detox Formula
    br
    img.bottle(src='/img/bottle.png')
    .row#vote-pos
        button.btn.btn-default#minus.button -
        .mr-4.ml-4.mt-3#count 0
        button.btn.btn-default#plus.button +
        script(src='//code.jquery.com/jquery-1.11.0.min.js')


    br
    .row
        .col-sm-9.col-md-7.col-lg-4.mx-auto
            .card.card-signin.my-5
                .card-body
                    h5.card-title.text-center Vit1
                    .form-check
                        input#exampleRadios1.form-check-input(type='radio', name='exampleRadios1', value='vit1.1', checked='')
                        label.form-check-label(for='exampleRadios1') component
                    .form-check
                        input#exampleRadios2.form-check-input(type='radio', name='exampleRadios1', value='vit1.2')
                        label.form-check-label(for='exampleRadios2') component
                    .form-check.disabled
                        input#exampleRadios3.form-check-input(type='radio', name='exampleRadios1', value='vit1.3', disabled='')
                        label.form-check-label(for='exampleRadios3') component
        .col-sm-9.col-md-7.col-lg-4.mx-auto
            .card.card-signin.my-5
                .card-body
                    h5.card-title.text-center Vit2
                    .form-check
                        input#exampleRadios1.form-check-input(type='radio', name='exampleRadios2', value='vit2.1', checked='')
                        label.form-check-label(for='exampleRadios1') component
                    .form-check
                        input#exampleRadios2.form-check-input(type='radio', name='exampleRadios2', value='vit2.2')
                        label.form-check-label(for='exampleRadios2') component
                    .form-check.disabled
                        input#exampleRadios3.form-check-input(type='radio', name='exampleRadios2', value='vit2.3', disabled='')
                        label.form-check-label(for='exampleRadios3') component
        .col-sm-9.col-md-7.col-lg-4.mx-auto
            .card.card-signin.my-5
                .card-body
                    h5.card-title.text-center Vit3
                    .form-check
                        input#exampleRadios1.form-check-input(type='radio', name='exampleRadios3', value='vit3.1', checked='')
                        label.form-check-label(for='exampleRadios1') component
                    .form-check
                        input#exampleRadios2.form-check-input(type='radio', name='exampleRadios3', value='vit3.2')
                        label.form-check-label(for='exampleRadios2') component
                    .form-check.disabled
                        input#exampleRadios3.form-check-input(type='radio', name='exampleRadios3', value='vit3.3', disabled='')
                        label.form-check-label(for='exampleRadios3') component
    
    br
    button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='submit',value='Submit') Submit				