extends layout1

block content
.container
	//แก้formตรงนี้จ้า
	form
		// Modal allergic
		#myModal.modal.fade(role='dialog', data-backdrop='static', data-keyboard='false')
			.modal-dialog
			// Modal content
			.modal-content
				.modal-header
				h4.modal-title.text-center Helth Condition
				.modal-body
				.form-check
					.row
					.col-md-6
						input#orange.form-check-input(type='checkbox', value='x', name='kidney')
						label.form-check-label(for='defaultCheck1')
						| Kidney disease
						br
						input#lime.form-check-input(type='checkbox', value='x', name='liver')
						label.form-check-label(for='defaultCheck1')
						| Liver disease
						br
						input#guava.form-check-input(type='checkbox', value='x', name='hyper')
						label.form-check-label(for='defaultCheck1')
						| Hypertension
					.col-md-6
						input#orange.form-check-input(type='checkbox', value='x', name='diabetes')
						label.form-check-label(for='defaultCheck1')
						| Diabetes
						br
						input#lime.form-check-input(type='checkbox', value='x', name='pregnant')
						label.form-check-label(for='defaultCheck1')
						| Pregnant
						br
						input#guava.form-check-input(type='checkbox', value='x', name='surgery')
						label.form-check-label(for='defaultCheck1')
						| Surgery
				button#myBtn.btn.btn-danger.btn-md(type='button', value='Submit') submit
		h1.text-center Detox Formula
		br
		img.img-responsive.center-block.bottle(src='https://www.img.live/images/2018/10/05/bottle.png')
		br
		.col-sm-9.col-md-7.col-lg-4.mx-auto
			.card.card-signin.my-5
			.card-body
				h5.card-title.text-center Vit1
				.form-check
				input#exampleRadios1.form-check-input(type='radio', name='exampleRadios', value='vit1.1', checked='')
				label.form-check-label(for='exampleRadios1')
					| component
				.form-check
				input#exampleRadios2.form-check-input(type='radio', name='exampleRadios', value='vit1.2')
				label.form-check-label(for='exampleRadios2')
					| component
				.form-check.disabled
				input#exampleRadios3.form-check-input(type='radio', name='exampleRadios', value='vit1.3', disabled='')
				label.form-check-label(for='exampleRadios3')
					| component
		.col-sm-9.col-md-7.col-lg-4.mx-auto
			.card.card-signin.my-5
			.card-body
				h5.card-title.text-center Vit2
				.form-check
				input#exampleRadios1.form-check-input(type='radio', name='exampleRadios', value='vit2.1', checked='')
				label.form-check-label(for='exampleRadios1')
					| component
				.form-check
				input#exampleRadios2.form-check-input(type='radio', name='exampleRadios', value='vit2.2')
				label.form-check-label(for='exampleRadios2')
					| component
				.form-check.disabled
				input#exampleRadios3.form-check-input(type='radio', name='exampleRadios', value='vit2.3', disabled='')
				label.form-check-label(for='exampleRadios3')
					| component
		.col-sm-9.col-md-7.col-lg-4.mx-auto
			.card.card-signin.my-5
			.card-body
				h5.card-title.text-center Vit3
				.form-check
				input#exampleRadios1.form-check-input(type='radio', name='exampleRadios', value='vit3.1', checked='')
				label.form-check-label(for='exampleRadios1')
					| component
				.form-check
				input#exampleRadios2.form-check-input(type='radio', name='exampleRadios', value='vit3.2')
				label.form-check-label(for='exampleRadios2')
					| component
				.form-check.disabled
				input#exampleRadios3.form-check-input(type='radio', name='exampleRadios', value='vit3.3', disabled='')
				label.form-check-label(for='exampleRadios3')
					| component

