extends layout1

block content
    .row
        button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='button')
            a(href='/admin/mixing') Mixing
    .row
        button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='button')
            a(href='/admin/sending') Sending

    