doctype html
html(lang='en-US', prefix='og: http://ogp.me/ns#')
  head
    title Formula test
    link#main-styles-css(rel='stylesheet', href='https://momofuku.com/wp-content/themes/momofuku/css/build.css?ver=4.9.8', type='text/css', media='screen')
  body#by-concept.page-template.page-template-momofuku-by-concept.page-template-momofuku-by-concept-php.page.page-id-105.page-child.parent-pageid-8.single-author(data-rsssl='1', data-template='by-concept')
    // #main
    #main.site-main
      // #primary
      #primary.content-area
        // #content
        #content.site-content(role='main')
          .wrapper
            section.title
              .inner
            section.grid-elements
              .inner
                .grid-item.normal
                  .inner-item(style='background-image:url(/imgs/img1.jpg: )')
                    .overlay
                      .info-top
                        .info
                          h1.item-title Detox
                          span.icon-noodle
                          p.item-text Some informations
                      .caption
                        ul.cap-items
                          li
                            a(href='#', target='_blank')
                              | Choose me
                              span
                .grid-item.normal
                  .inner-item(style="background-image:url('https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/noodlebarbowl_mini.jpeg');")
                    .overlay
                      .info-top
                        .info
                          h1.item-title Detox
                          span.icon-noodle
                          p.item-text Some informations
                      .caption
                        ul.cap-items
                          li
                            a(href='#', target='_blank')
                              | Choose me
                              span
                .grid-item.normal
                  .inner-item(style="background-image:url('https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/noodlebarbowl_mini.jpeg');")
                    .overlay
                      .info-top
                        .info
                          h1.item-title Detox
                          span.icon-noodle
                          p.item-text Some informations
                      .caption
                        ul.cap-items
                          li
                            a(href='#', target='_blank')
                              | Choose me
                              span
                .grid-item.normal
                  .inner-item(style="background-image:url('https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/noodlebarbowl_mini.jpeg');")
                    .overlay
                      .info-top
                        .info
                          h1.item-title Detox
                          span.icon-noodle
                          p.item-text Some informations
                      .caption
                        ul.cap-items
                          li
                            a(href='#', target='_blank')
                              | Choose me
                              span
                .grid-item.normal
                  .inner-item(style="background-image:url('https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/noodlebarbowl_mini.jpeg');")
                    .overlay
                      .info-top
                        .info
                          h1.item-title Detox
                          span.icon-noodle
                          p.item-text Some informations
                      .caption
                        ul.cap-items
                          li
                            a(href='#', target='_blank')
                              | Choose me
                              span
                .grid-item.normal
                  .inner-item(style="background-image:url('https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/noodlebarbowl_mini.jpeg');")
                    .overlay
                      .info-top
                        .info
                          h1.item-title Detox
                          span.icon-noodle
                          p.item-text Some informations
                      .caption
                        ul.cap-items
                          li
                            a(href='#', target='_blank')
                              | Choose me
                              span
                .grid-item.normal
                  .inner-item(style="background-image:url('https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/noodlebarbowl_mini.jpeg');")
                    .overlay
                      .info-top
                        .info
                          h1.item-title Detox
                          span.icon-noodle
                          p.item-text Some informations
                      .caption
                        ul.cap-items
                          li
                            a(href='#', target='_blank')
                              | Choose me
                              span
                .grid-item.normal
                  .inner-item(style="background-image:url('https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/noodlebarbowl_mini.jpeg');")
                    .overlay
                      .info-top
                        .info
                          h1.item-title Detox
                          span.icon-noodle
                          p.item-text Some informations
                      .caption
                        ul.cap-items
                          li
                            a(href='#', target='_blank')
                              | Choose me
                              span
        // #content
        // #primary
        // #main
        footer
        // #colophon
        // #page
        script(type='text/javascript').
          /* <![CDATA[ */
          var sb_instagram_js_options = {"sb_instagram_at":""};
          /* ]]> */
        script(type='text/javascript', src='https://momofuku.com/wp-content/plugins/instagram-feed/js/sb-instagram.min.js?ver=1.6.2')
        script(type='text/javascript', src='https://momofuku.com/wp-content/plugins/wp-accessibility/js/wpa.labels.js?ver=1.0')
        script(type='text/javascript', src='https://momofuku.com/wp-content/plugins/wp-accessibility/js/longdesc.button.js?ver=1.0')
        script(type='text/javascript', src='https://momofuku.com/wp-content/themes/momofuku/js/build.js?ver=4.9.8')
        script(type='text/javascript', src='https://momofuku.com/wp-includes/js/wp-embed.min.js?ver=4.9.8')
        script(type='text/javascript').
          //<![CDATA[
          (function( $ ) { 'use strict';
          $('a').removeAttr('target');
          $('input,a,select,textarea,button').removeAttr('tabindex');
          }(jQuery));
          //]]>
