html
  head
    title Home
    link(rel='stylesheet', type='text/css', href='/css/index_style.css')
  body
    .homeFont
      .top BE HEALTHY YOUR STYLE
      .middle CHOOSE YOUR TASTE
      .down MAKE IT YOUR FLAVOR
    button.button
      span CLICK ME
    .bottles
      .bottle
        img(src='/img/bottle/green_bottle.png')
        span.bottletext
          h1 DETOX
          h2 Kale - Cucumber -Apple
      .bottle
        img(src='/img/bottle/yellow_bottle.png')
        span.bottletext
          h1 CHOLESTEROL REDUCING
          h2 Pumpkhin - Avocado - Promganate
      .bottle
        img(src='/img/bottle/red_bottle.png')
        span.bottletext
          h1 ANTI-AGING
          h2 Tomato - Cranberry - Almond
    .recSize R-E-C-O-M-M-E-N-D
