html
  head
    title Home
    link(rel='stylesheet', type='text/css', href='/css/index_style.css')
  body
    .blue_reg
    .pos_cen
      .center2 BE HEALTHY IN YOUR STYLE
      .center1 CHOOSE YOUR TASTE
      .center2 MAKE IT YOUR FLAVOR
      br
      .yugo
        a#button1_index.viewf(href='#') VIEW FORMULA
    img.auntie(src='/img/index/auntie.png')
    .white_reg
      .yugo
        .col3
          .pos_col
            .col-set
              | WHAT IS SHAKIE VEGGIE ?
              p.index_info
                | SHAKIE VEGGIE IS A FRUIT AND VEGGETABLE JUICE THAT YOU CAN CHOOSE THE PROPERTIES AND THE INGREDIENTS 
                br
                |                                 THROUGH THE WEBSITE THAT WIILL ALSO 
                br
                |                                 PROTECT YOU FROM CHOOSING THE INGREDIENTS 
                br
                |                                 THAT WILL HARM TO YOUR BODY
            a#button2_index.readmore(href='#') READ MORE
          .pos_col
            | HOW TO ORDER SHAKIE VEGGIE ?
            p.index_info
              | FIRST CHOOSE THE FORMULA OF SHAKKIEVEGGIE 
              br
              |                         SECOND TELL US ABOUT YOUR HEALTH CONDITION BY CHECKING THE CHOICES 
              br
              |                         THIRD CHOOSE THREE INGREDIENTS THAT YOU WANT TO MIX IT TOGETHER 
              br
              |                         FORTH SELECT AMOUNT THAT YOU WANT AND ADD THEM TO CART 
              br
              |                         FIFTH . . . . .
            a#button2_index.readmore(href='#') READ MORE
          .pos_col
            br
            br
            |                         LET'S FOLLOW AND SUBSCRIBE
            br
            .col4
              a(href='facebook.com')
                img.hvr-float(src='/img/index/facebook.png', width='6.5%')
                span.snsicon
              a(href='instagram.com')
                img.hvr-float(src='/img/index/instagram.png', width='6.5%')
                span.snsicon
              a
              a(href='twitter.com')
                img.hvr-float(src='/img/index/twitter.png', width='6.5%')
                span.snsicon
