doctype html
html
    head
        title ShakieVeggie
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/css/style_login.css')
    body()
        a(href='/')
            img.logo-pos(src='/img/logo_circle.png') 
        .container
            block content

        script(src='/js/main.js')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')