doctype html
html
    head
        title ShakieVeggie
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body(onload="load()")
        // ----------------Navbar-------------------
        nav#myTopnav.topnav
            div
                button.btn
                    a(href='/')
                        img(src='/img/home.png') 
            div
                button.login
                    if user
                        a(href='/users/logout') Logout
                        button.login
                            h9 #{user.username}
                    else
                        a(href='/users/login') login
                button.login
                    a(href='/cart')
                        img(src='/img/cart.png')
            a.icon(href='javascript:void(0);', onclick='myFunction()') ☰
        // ------------------------------------------

        .container
            != messages('message',locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            br
            hr
            footer
                p Copyright © 2018  

        script(src='/js/main.js')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')