extend layout1

block content
    center
    h1 MIXING TABLE
    table(style='width:100%')
        thead
            tr
                th ORDER NO.
                th BOTTLE NO.
                th INGREDIENT 1
                th INGREDIENT 2
                th INGREDIENT 3
                th AMOUNT
        tbody
            tr
                td(align='center') ORDER NO.
                td(align='center') BOTTLE NO.
                td(align='center') INGREDIENT 1
                td(align='center') INGREDIENT 2
                td(align='center') INGREDIENT 3
                td(align='center') AMOUNT
            tr
                td(align='center') ORDER NO.
                td(align='center') BOTTLE NO.
                td(align='center') INGREDIENT 1
                td(align='center') INGREDIENT 2
                td(align='center') INGREDIENT 3
                td(align='center') AMOUNT
            tr
                td(align='center') ORDER NO.
                td(align='center') BOTTLE NO.
                td(align='center') INGREDIENT 1
                td(align='center') INGREDIENT 2
                td(align='center') INGREDIENT 3
                td(align='center') AMOUNT