extend layout1

block content
    center
    h1 MIXING TABLE
    table(style='width:100%')
        thead
            tr
                th.text-center ORDER NO.
                th BOTTLE NO.
                th INGREDIENT 1
                th INGREDIENT 2
                th INGREDIENT 3
                th AMOUNT
        tbody
            each order, i in orders
                tr
                    td(align='center') 
                        if order.paymentstatus == 0
                            br
                            li
                                =order._id
                                each bottle, i in bottles
                                    if order._id == bottle.orderid
                                        .col
                                        br
                                        =bottle._id + " " + bottle.fruit1 + " , " + bottle.fruit2 + " , " + bottle.fruit3 + " ,amount: " + bottle.amount