extends layout_login

block content
    h1 #{title}
    form(method='POST',action='/formula/nutrient')
        #form-group
            label name:
            input.form-control(name='name',type='text')
        #form-group
            label fruit1:
            input.form-control(name='fruit1',type='text')
        #form-group
            label fruit2:
            input.form-control(name='fruit2',type='text')
        #form-group
            label fruit3:
            input.form-control(name='fruit3',type='text')
        #form-group
            label fruit4:
            input.form-control(name='fruit4',type='text')
        #form-group
            label fruit5:
            input.form-control(name='fruit5',type='text')
        #form-group
            label fruit6:
            input.form-control(name='fruit6',type='text')
        br
        input.btn.btn-primary(type='submit',value='Submit')