extend layout1

block content
    center
    h1 SENDING TABLE
    table(style='width:100%')
        thead
            tr
                th ORDER NO.
                th PAYMENT STATUS
        tbody
            tr
                td(align='center') ORDER NO.
                td(align='center') 
                    button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='button') NOT READY
            tr
                td(align='center') ORDER NO.
                td(align='center') 
                    button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='button') READY
            tr
                td(align='center') ORDER NO.
                td(align='center') 
                    button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='button') NOT READY

    