extend layout1

block content
    style.
        body{
            background-color: #8ED2C9;
        }
        .title-block{
            position: relative;
            padding-bottom: 50px;
        }
        .title{
            font-weight: 620;
            position: absolute;
            color: white;
            left: 10%;
            right:10%;
            text-align: center;
        }
        .reg{
            width: 750px;
            height: 60px;
            background-color: #ffcc1b;
            position: inherit;
            top: 65px;
            left: 15%;
            z-index: -1;
        }
        thead{
            background-color: #8ED2C9;
            color: white;
        }
        tbody{
            color: #8ED2C9;
        }
        tbody tr, td{
            padding: 4px;
            border-top: 3px solid #8ED2C9;
            border-bottom: 3px solid #8ED2C9;
            margin: 10px;
        }
        #paymenttable{
            width:100%;
            border-collapse: separate;
            border-spacing: 0 5px;
            padding: 0 5px;
            background-color: white;
        }

    .title-block
        .title( style='font-size:80px') PAYMENT STATUS
        .reg
    table#paymenttable(style='width:100%').mt-5
        thead
            tr
                th(height='60').text-center ORDER NO.
                th(height='60').text-center PAYMENT STATUS
        tbody
            each order, i in orders
                tr
                    if order.clearpayment != 0
                        td(height='40' align='center' style='border-left:3px solid #8ED2C9')=order._id
                                if order.paymentstatus == 1
                                    .row
                                    td(height='40' align='center' style='border-right: 3px solid #8ED2C9') 
                                        form(action="/admin/payment/" + order._id, method="post")
                                            input.status(onclick="change(this);track(this)" type="submit" value="NOT READY" )
                                else
                                    .row
                                    td(height='40' align='center' style='border-right: 3px solid #8ED2C9') 
                                        form(action="/admin/payment2/" + order._id, method="post")
                                            input.status2(onclick="change(this);track(this)" type="submit" value="READY" )
    form(method='POST',action='/admin/clearpayment')
        button.btn.btn(type='submit',value='Submit',style='color:white;float:right') CLEAR

    