extends layout1

block content
    .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
            .card.card-signin.my-5
                .card-body
                    h5.card-title.text-center Register
                    form(method='POST',action='/users/register').form-signin
                        .form-label-group
                            input#inputFirstName.form-control(name='firstname',type='text', placeholder='Firstname', required='', autofocus='')
                            label(for='inputFirstName') 
                        .form-label-group
                            input#inputLastName.form-control(name='lastname',type='text', placeholder='Lastname', required='')
                            label(for='inputLastName') 
                        .form-label-group
                            input#inputEmail.form-control(name='email',type='text', placeholder='Email', required='')
                            label(for='inputEmail') 
                        .form-label-group
                            input#inputPhone.form-control(name='phone',type='text', placeholder='Phone', required='')
                            label(for='inputPhone') 
                        .form-label-group
                            input#inputUsername.form-control(name='username',type='text', placeholder='Username', required='', autofocus='')
                            label(for='inputUsername') 
                        .form-label-group
                            input#inputPassword.form-control(name='password',type='password', placeholder='Password', required='')
                            label(for='inputPassword') 
                        .form-label-group
                            input#inputPassword2.form-control(name='password2',type='password', placeholder='Confirm Password', required='')
                            label(for='inputPassword2') 
                        button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='submit',value='Submit') Register
    //- //h1 Register
    //- //form(method='POST',action='/users/register')
    //-     #form-group
    //-         label Firstname:
    //-         input.form-control(name='firstname',type='text')
    //-     #form-group
    //-         label Lastname:
    //-         input.form-control(name='lastname',type='text')
    //-     #form-group
    //-         label Email:
    //-         input.form-control(name='email',type='text')
    //-     #form-group
    //-         label Phone:
    //-         input.form-control(name='phone',type='text')
    //-     #form-group
    //-         label Username:
    //-         input.form-control(name='username',type='text')
    //-     #form-group
    //-         label Password:
    //-         input.form-control(name='password',type='password')
    //-     #form-group
    //-         label Confirm Password:
    //-         input.form-control(name='password2',type='password')
    //-     br
    //-     input.btn.btn-primary(type='submit',value='Register')