extend layout1

block content
    center
    h1 SENDING TABLE
    table(style='width:100%')
        thead
            tr
                th.text-center SENDING STATUS
                th.text-center ORDER NO.
                th.text-center NAME
                th.text-center LASTNAME
                th.text-center ADDRESS
                th TRACKING NO.
        tbody
            tr
                td(align='center') 
                    input.mixstatus(onclick="change(this);track(this)" type="button" value="NOT READY" )
                td(align='center') ORDER NO.
                td(align='center') NAME
                td(align='center') LASTNAME
                td(align='center') ADDRESS
                td(align='center')
                    input.form-control#track(type='text', placeholder='Tracking No.', name='tracking')
            tr
                td(align='center') 
                    input.mixstatus(onclick="change(this)" type="button" value="NOT READY" )
                td(align='center') ORDER NO.
                td(align='center') NAME
                td(align='center') LASTNAME
                td(align='center') ADDRESS
                td(align='center')
                    input.form-control(type='text', placeholder='Tracking No.', name='tracking')
            tr
                td(align='center') 
                    input.mixstatus(onclick="change(this)" type="button" value="NOT READY" )
                td(align='center') ORDER NO.
                td(align='center') NAME
                td(align='center') LASTNAME
                td(align='center') ADDRESS
                td(align='center')
                    input.form-control(type='text', placeholder='Tracking No.', name='tracking', disabled='')