extend layout1

block content
    center
    h1 SENDING TABLE
    table(style='width:100%').mt-5
        thead
            tr
                th.text-center ORDER
                th.text-center SENDING STATUS
                th.text-center TRACKING NO.
        tbody
            each order, i in orders
                tr
                    td(align='center') 
                        if order.paymentstatus == 0
                            li.list-group-item
                                =order._id + " username: " + order.username + " address: " + order.address
                                br
                                if order.mixingstatus == 0
                                    td(align='center')
                                        input.status(onclick="track(this)" type="submit" value="READY" )
                                    td(align='center') 
                                        input.form-control(type='text', placeholder='Tracking No.', name='tracking')
                                    td(align='center') 
                                        input.status(type="submit" value="SUBMIT")
                                else
                                    td(align='center') 
                                        form(action="/admin/sending/" + order._id, method="post")
                                            input.status(onclick="change(this);track(this)" type="submit" value="NOT READY" )
                                    td(align='center') 
                                        input.form-control(type='text', placeholder='Tracking No.', name='tracking',disabled="")