extends layout1

block content
    h1 order
    form(action="/order/test", method="post")
        ul.list-group
            each order, i in orders
                li.list-group-item
                    =order
        input.btn.btn-primary(type='submit',value='Submit')