p test
  link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css', rel='stylesheet')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
  script(src='//code.jquery.com/jquery-1.11.1.min.js')
  // ---- Include the above in your HEAD tag --------
.center
  p
  form(method='POST',action='/custom/test')
    .input-group
        span.input-group-btn
        button(type='button', disabled='disabled', data-type='minus', data-field='amont')
            span.glyphicon.glyphicon-minus
        input.form-control.input-number(type='text', name='amont', value='1', min='1', max='1000')
        span.input-group-btn
        button(type='button', data-type='plus', data-field='amont')
            span.glyphicon.glyphicon-plus
    button.text-uppercase(style="float:right")(type='submit',value='Submit') Submit	

    script(src='/js/amount.js')
