link(rel='stylesheet', type='text/css', href='/css/style.css')
link(rel='stylesheet', type='text/css', href='/css/test.css')
var bg = ['/img/sugar.jpg','/img/antiage.jpg','/img/cores.jpg',"img/detox.jpg",'/img/custom_bg.jpg',"img/fatburn.jpg",'/img/blood.jpg','/img/eyes.jpg']
.mt-5    
    .gird_for
        each formula, i in formulas
            .box 
                .menu
                    .for #{formula.formulaname}
                    img.bg_img(src=bg[i])
                .overlay
                    .text yay
                
                