link(rel='stylesheet', type='text/css', href='/css/test.css')
.mt-5    
    .gird
        each formula, i in formulas
            .box 
                .menu #{formula.formulaname}
                img.bg_img(src=bg[i%8])
            .overlay
                .text yay