doctype html
html
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    title Formula
    link(rel='stylesheet', type='text/css', href='/css/formulastyle.css')
  body
    nav#myTopnav.topnav
      div
          button.login
              a(href='/custom/cart')
                  img.cart_pos(src='/img/cart.png')
          button.login
              if user
                  a#login(href='/users/logout') Logout
                  button.login
                      h9 #{user.username}
              else
                  a#login(href='/users/login') login
          button.login
              if user
                  a(href='/payment/tracking') tracking
      a.icon(href='javascript:void(0);', onclick='myFunction()') ☰
    a(href='/')
        img.logo-pos(src='/img/logo_circle.png')
    .container
          != messages('message',locals)
          if errors
              each error, i in errors
                  div(class="alert alert-danger") #{error.msg} 
    .container
      .content
        .row
          .col-6
            .item-component
              a(href="/custom/")
                .item(style="background-image:url('/img/imgs/img1.jpg');")
                  .item-alltext
                    h1.item-title test
                    span
                      i.fa-4x.fa.fa-leaf
                    p.item-text Some informations
          .col-6
            .item-component
              a(href='#')
                .item(style="background-image:url('/img/imgs/img2.jpg');")
                  .item-alltext
                    h1.item-title Skin care
                    span
                      i.fa-4x.fa.fa-pagelines
                    p.item-text Some informations
        .row
          .col-6
            .item-component
              a(href='#')
                .item(style="background-image:url('/img/imgs/img3.jpg');")
                  .item-alltext
                    h1.item-title Improving eyesight
                    span
                      i.fa-4x.fa.fa-heartbeat
                    p.item-text Some informations
          .col-6
            .item-component
              a(href='#')
                .item(style="background-image:url('/img/imgs/img4.jpg');")
                  .item-alltext
                    h1.item-title Something
                    span
                      i.fa-4x.fa.fa-heart
                    p.item-text Some informations
        .row
          .col-6
            .item-component
              a(href='#')
                .item(style="background-image:url('/img/imgs/img5.jpg');")
                  .item-alltext
                    h1.item-title Something
                    p.item-text Some informations
        block content
            footer
                br
                p(style="color:black")  Copyright © 2018  

      script(src='/js/main.js')
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
      script(src='/bower_components/sweetalert/lib/sweet-alert.min.js')
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
