extends layout1

block content
    h1 order
    form(action="/formulas/test", method="post")
        ul.list-group
            each bottle, i in bottles
                li.list-group-item
                    =bottle
        input.btn.btn-primary(type='submit',value='Submit')