extends layout_nocart

block content
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    style.
        body{
            background-image:url('/img/tracking/bg.jpg');
        }
    form(method = 'POST' action="/payment/tracking")
        .set-layout-tracking
            .track-card
                .yellow-reg
                    h1#text-shadow ORDER
                if order.paymentstatus != 0
                    img.track_status#order-in-sys(src="/img/tracking/check-list-y.png")
                    img.track_check#order-in-sys(src="/img/tracking/clock.png")
                    .track_text.doing#order-in-sys order in system
                    p.line.yet#line1 _________________
                else if order.paymentstatus == 0
                    img.track_status#order-in-sys(src="/img/tracking/check-list-b.png")
                    img.track_check#order-in-sys(src="/img/tracking/verified.png")
                    .track_text.done#order-in-sys order in system
                    p.line.done#line1 _________________

                if order.paymentstatus != 0
                    img.track_status#mixer(src="/img/tracking/mixer-w.png")
                    img.track_check#mixer(src="/img/tracking/yet.png")
                    .track_text.yet#mixer mixed
                    p.line.yet#line2 _________________
                else if order.paymentstatus == 0 && order.mixingstatus != 0
                    img.track_status#mixer(src="/img/tracking/mixer-y.png")
                    img.track_check#mixer(src="/img/tracking/clock.png")
                    .track_text.doing#mixer mixed
                    p.line.yet#line2 _________________
                else if order.mixingstatus == 0
                    img.track_status#mixer(src="/img/tracking/mixer-b.png")
                    img.track_check#mixer(src="/img/tracking/verified.png")
                    .track_text.done#mixer mixed
                    p.line.done#line2 _________________

                if order.mixingstatus != 0
                    img.track_status#packed(src="/img/tracking/order-w.png")
                    img.track_check#packed(src="/img/tracking/yet.png")
                    .track_text.yet#packed packed
                    p.line.yet#line3 _________________
                else if order.mixingstatus == 0 && order.trackingnum == null
                    img.track_status#packed(src="/img/tracking/order-y.png")
                    img.track_check#packed(src="/img/tracking/clock.png")
                    .track_text.doing#packed packed
                    p.line.yet#line3 _________________
                else if order.trackingnum != null
                    img.track_status#packed(src="/img/tracking/order-b.png")
                    img.track_check#packed(src="/img/tracking/verified.png")
                    .track_text.done#packed packed
                    p.line.done#line3 _________________

                if order.trackingnum == null
                    img.track_status#deliver(src="/img/tracking/truck-w.png")
                    img.track_check#deliver(src="/img/tracking/yet.png")
                    .track_text.yet#deliver delivered
                else if order.trackingnum != null
                    img.track_status#deliver(src="/img/tracking/truck-b.png")
                    img.track_check#deliver(src="/img/tracking/verified.png")
                    .track_text.done#deliver delivered

                if order.trackingnum != null
                    #track-num  TRACKING NO. #{order.trackingnum} 
                else
                    #track-num  TRACKING NO. _____________
                

                   
                    
                    
                        
                        
                    
