extends layout_nocart
block content
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/css/tracking_own_style.css')
    .track_parting
        table
            tr
                th.bill_headbox
                    .orderown_headbox
                        .orderown_headword IN SYSTEM ORDER(S)
            -for (var i = orders.length-1 ; i >= 0; i--) 
                if users._id == orders[i].username && orders[i].trackingnum == null
                    tr
                        td.bill_childtable
                            .dropdown
                                #button_track
                                    a(href="/tracking/track/" + orders[i]._id + '/' + orders[i].username + '/' + i)#user= users.username + '00' + i
                                .dropdown-content    
                                    a(href="/") Hi1
                                    a(href="/") Hi2
                                    a(href="/") Hi3
        table
            tr
                th.bill_headbox
                    .orderown_headbox
                        .orderown_headword SENT ORDER(S)
            -for (var i = orders.length-1 ; i >= 0; i--) 
                if users._id == orders[i].username && orders[i].trackingnum != null
                    tr
                        td.bill_childtable
                            .dropdown
                                #button_track
                                    a(href="/tracking/track/" + orders[i]._id + '/' + orders[i].username + '/' + i)#user= users.username + '00' + i
                                .dropdown-content    
                                        a(href="/") Hi1
                                        a(href="/") Hi2
                                        a(href="/") Hi3
                