html
  head
    title Home
    link(rel='stylesheet', type='text/css', href='/css/tracking_order_style.css')
  body
    .orderown_scope
        .orderown_parting
            .orderown_gridhead
                .orderown_headbox
                    .orderown_headword IN SYSTEM ORDER(S)
            .orderown_gridhead
                .orderown_headbox
                    .orderown_headword SENDED ORDER(S)
