extends layout_cus

block content
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    style.
        body{
            background-color:pink;
        }
    form(method = 'POST' action="/payment/tracking")
        #tracking.card.card-signin
            .card-body
                h4#card-tracking-title.text-center Tracking
                form.form-tracking
                    .row
                        .col-4
                            img#img-pos(src="/img/order.png", alt="")
                        .col-8
                            br
                            .text-uppercase order in system
                    .row
                        img#dash-pos(src="/img/dash-gray.png", alt="")
                        
                        
                    