extends layout_cus

block content
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    style.
        body{
            background-image:url('/img/tracking/bg.jpg');
        }
        .line{
            font-weight:800;
            position: fixed;
            top: 62.5%;
            transform: translate(-50%, -50%);
        }
        #line1{
            left:30%;
        }
        #line2{
            left:50%;
        }
        #line3{
            left:70%;
        }
    form(method = 'POST' action="/payment/tracking")
        .set-layout-tracking
            .track-card
                .yellow-reg
                    h1#text-shadow ORDER
                //if(doing)
                img.track_status#order-in-sys(src="/img/tracking/check-list-y.png")
                img.track_check#order-in-sys(src="/img/tracking/clock.png")
                .track_text.doing#order-in-sys order in system
                p.line.yet#line1 _______________
                //else if(done)
                    img.track_status#order-in-sys(src="/img/tracking/check-list-b.png") อันนี้สีฟ้า
                    img.track_check#order-in-sys(src="/img/tracking/verified.png")
                    .track_text.done#order-in-sys order in system
                    p.line.done#line1 _______________

                //if(yet)
                img.track_status#mixer(src="/img/tracking/mixer-w.png")
                img.track_check#mixer(src="/img/tracking/yet.png")
                .track_text.yet#mixer mixed
                p.line.yet#line2 _______________
                //else if(doing)
                    img.track_status#mixer(src="/img/tracking/mixer-y.png")
                    img.track_check#mixer(src="/img/tracking/clock.png")
                    .track_text.doing#mixer mixed
                    p.line.yet#line2 _______________
                //else if(done)
                    img.track_status#mixer(src="/img/tracking/mixer-b.png")
                    img.track_check#mixer(src="/img/tracking/verified.png")
                    .track_text.done#mixer mixed
                    p.line.done#line2 _______________

                //if(yet)
                img.track_status#packed(src="/img/tracking/order-w.png")
                img.track_check#packed(src="/img/tracking/yet.png")
                .track_text.yet#packed packed
                p.line.yet#line3 _______________
                //else if(doing)
                    img.track_status#packed(src="/img/tracking/order-y.png")
                    img.track_check#packed(src="/img/tracking/clock.png")
                    .track_text.doing#packed packed
                    p.line.yet#line3 _______________
                //else if(done)
                    img.track_status#packed(src="/img/tracking/order-b.png")
                    img.track_check#packed(src="/img/tracking/verified.png")
                    .track_text.done#packed packed
                    p.line.done#line3 _______________

                //if(yet)
                img.track_status#deliver(src="/img/tracking/truck-w.png")
                img.track_check#deliver(src="/img/tracking/yet.png")
                .track_text.yet#deliver delivered
                //else if(doing)
                    img.track_status#deliver(src="/img/tracking/truck-y.png")
                    img.track_check#deliver(src="/img/tracking/clock.png")
                    .track_text.doing#deliver delivered
                //else if(done)
                    img.track_status#deliver(src="/img/tracking/truck-b.png")
                    img.track_check#deliver(src="/img/tracking/verified.png")
                    .track_text.done#deliver delivered

                //if(มีเลขแทรคแล้ว ตอนไหนอะ deliveredปะ)
                    #track-num tracking (tracknum) span<style="color:#a5a047"> อันนี้รอถามซูว่าเอาไง  
                #track-num tracking _________________
                

                   
                    
                    
                        
                        
                    