extends layout_nocart
block content
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/css/tracking_own_style.css')
    .track_parting
        table
            tr
                th.bill_headbox
                    .orderown_headbox
                        .orderown_headword IN SYSTEM ORDER(S)
            -for (var i = orders.length-1 ; i >= 0; i--) 
                if users._id == orders[i].username && orders[i].trackingnum == null && orders[i].checkout == 0
                    tr
                        td.bill_childtable
                            .dropdown
                                #button_track
                                    a(href="/tracking/track/" + orders[i]._id + '/' + orders[i].username + '/' + i)#user= users.username + '00' + i
                                .dropdown-content 
                                    - var count = 0 
                                    each bottle, j in bottles
                                        if bottle.orderid == orders[i]._id
                                            each formula, k in formulas
                                                if formula._id == bottle.formulaid
                                                    if count < 2
                                                        a#white= formula.formulaname + ' (x' + bottle.amount + ')'
                                                        break
                                            - count = count + 1
        table
            tr
                th.bill_headbox
                    .orderown_headbox
                        .orderown_headword SENT ORDER(S)
            -for (var i = orders.length-1 ; i >= 0; i--) 
                if users._id == orders[i].username && orders[i].trackingnum != null && orders[i].checkout == 0
                    tr
                        td.bill_childtable
                            .dropdown
                                #button_track
                                    a(href="/tracking/track/" + orders[i]._id + '/' + orders[i].username + '/' + i)#user= users.username + '00' + i
                                .dropdown-content    
                                    - var count = 0 
                                    each bottle, j in bottles
                                        if bottle.orderid == orders[i]._id
                                            each formula, k in formulas
                                                if formula._id == bottle.formulaid
                                                    if count < 2
                                                        a#white= formula.formulaname + ' (x' + bottle.amount + ')' 
                                                        //- a#white= formula.formulaname + ' (x' + bottle.amount + ')' + ' : ' + bottle.fruit1 + ' | ' + bottle.fruit2 + ' | ' + bottle.fruit3
                                                        break
                                            - count = count + 1
<<<<<<< HEAD
=======
        br
        br
        br
>>>>>>> origin/master
    .f(style="")
        #f1 developed by
        #f2 JUBCHAI Organiser

                