extends layout1

block content
    h1  #{title}
    ul.list-group
        each order, i in orders
            if users._id == order.username
                li.list-group-item
                    a(href="/payment/track/" + order._id)= users.username + ':00' + i