extends layout1

block content
    h1  #{title}
    ul.list-group
        -for (var i = orders.length-1 ; i >= 0; i--) 
            if users._id == orders[i].username
                li.list-group-item
                    a(href="/payment/track/" + orders[i]._id)#yellow= users.username + '00' + i