body{
    background-color: #8ED2C9;
}
.title-block{
    position: relative;
    padding-bottom: 50px;
}
.reg{
    width: 750px;
    height: 60px;
    background-color: #ffcc1b;
    position: inherit;
    top:70px;
    left: 24%;
    z-index: -1;
}
thead{
    background-color: #8ED2C9;
    color: white;
}
tbody{    
    color: #8ED2C9;
}
tbody tr,td{
    border-top: 3px solid #8ED2C9;
    border-bottom: 3px solid #8ED2C9;
    margin: 10px;
    
}
#pay_t{
    padding: 4px;
}

.title{
    font-weight: 620;
    position: absolute;
    color: white;
    left: 10%;
    right:10%;
    text-align: center;
    font-size: 80px; 
}

#send_title{
    position: absolute;
    font-size: 80px; 
    font-weight: 620;
    color: white;
    left: 22%;
    right:22%;
    text-align: center;
}

.inputbox{
    color:#8ED2C9;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    outline:none;
    box-shadow:none;
}

::placeholder{
    color: #8ED2C9;
    text-align: center;
}

.container{
    max-width: 100%;
}
#table{
    width:100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    padding: 0 5px;
    background-color: white;
}
th,td{
    height:60px;
    text-align: center;
}
#b_l{
    border-left: 3px solid #8ED2C9;
}
#b_r{
    border-right: 3px solid #8ED2C9;
}
#b_t{
    border-top: 3px solid #8ED2C9;
}
#b_tr{
    border-top: 3px solid #8ED2C9;
    border-right: 3px solid #8ED2C9;
}
