body{
    background-image: url(/img/cart/cart_bg.jpg);
    color: white;
}
.block{
    text-align: center;
    
    font-weight: 420;
}
#headline{
    text-align: center;
    margin-top: 5%;
}
h1{
    font-size: 320%;
    margin-bottom: 0px;
}
p{
    font-size: 75%;
    font-weight: 400;
    margin-bottom:0px; 
}
.row{
    padding-bottom:4% ;
    padding-top:4% ;   
}

/* cart table */
.cart_block{
    font-weight: 500;
    width: 100%;
    margin-left: 12%;
    padding: 0 !important; 
}
#headofcart{
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 5px;
    border-bottom: 3px solid white;
    margin: 0 !important;
}
#firstcol{
    text-align: left;
    padding-left: 0 !important;
}
#secondhead{
    text-align: left;
    padding-left: 5%;
}
#lastcol{
    text-align: right;
    padding-right: 0 !important;
}
.rowofcart{
    border-bottom: 3px solid white;
    margin-left: 0 !important;
    width: 100%;
}
#formula{
    font-size: 20px;
}
textarea{
    background: transparent;
    border: none;
    color: white;
    text-align: center;
    resize: none;
}
.edit-area{
    border-bottom: 1px solid white;
    resize: horizontal;
}
.cart-trash{
    background: url(/img/cart/cart1.png);
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin-right: 30%;
    margin-top: 10%;
}
h5{
    color: black; 
    text-align:left;
}
/* botton */
button {
    display: inline-block;
    vertical-align: top;
    border: none;
    cursor: pointer;
    outline: 0 !important;    
    background-color: transparent;
    text-decoration:none;   
    color:#FFFFFF;
}
#button1_index{
    padding:2px 15px;
    border:2.5px solid #FFFFFF;
    box-sizing: border-box;
    text-align:center;
    transition: all 0.2s;
    font-size: 12px;
}
#button1_index:hover{
    color:black;
    background-color:#FFFFFF;
}
#button1_line{
    text-decoration: underline;
    margin-left: 45%;
}
#button1_line:hover{
    opacity: 0.8;
}
#button2_checkout{
    padding:15px 98.5px;
    margin-top: 2%;
    border:2.5px solid #FFFFFF;
    box-sizing: border-box;
    text-align:center;
    transition: all 0.2s;
}
#button2_checkout:hover{
    color:black;
    background-color:#FFFFFF;
}
#button1_checkout{
    padding:15px 92px;
    border:2.5px solid #FFFFFF;
    box-sizing: border-box;
    text-align:center;
    transition: all 0.2s;
}
#button1_checkout:hover{
    color:black;
    background-color:#FFFFFF;
}
/* summary table */
#title{
    padding-bottom: 30px;
    border-bottom: 3px solid white;
}
.summary_block{
    width: 100%;
    height: 60%;
    margin-right:12% ;
}   
.summary_text{
    margin-left: 13%;
    padding: 8%;
}
.summary_bg{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
    opacity: 0.15;
    margin-left: 8%;
}
.summary_block .col-8{
    text-align: left;
}
.summary_block .col-4{
    text-align: right;
}
.summary_block h4{
    font-size: 18px;
    margin: 0;
}
.row#first{
    padding-top: 30px;  
}
.row#last{
    padding-bottom: 30px;   
    border-bottom:  3px solid white;
}
h6{
    padding-top: 10%; 
}
#cart_modal{
    width:400px;
    height:200px;
}
.grid{
    display:grid;
    grid-template-columns: 10% 10%
;
}
@media only screen and (max-width: 1200px){

}