body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/custom_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

ul.chec-radio {
    margin: 8px;
}
ul.chec-radio{
    display: inline;
}
li.pz{
    display: inline;
    margin-left:9px;
}
.cen{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
}
.chec-radio .radio-inline .clab {
    position:relative;
    cursor: pointer;
    background: transparent;
    padding-top: 1.3vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: relative;
    width: 87.75px;
    height: 48px;
    line-height:93%;
    float: left;
    margin: 0;
    /*margin-bottom: 5px;*/
    border-radius: 2px;
    /*border-style: solid;*/
    border: 2.5px solid white;
    font-size: 11px;
    font-weight: 400;
    position:relative;
}
.cen{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;

}
.line1{
    padding: 11px;
}
.line2{
    padding-top: 7px;
}
.chec-radio label.radio-inline input[type="radio"] {
    display: none;
}
.chec-radio label.radio-inline input[type="radio"]:checked+div {
    color: #8fd2c9;
    background-color: white;
    border-radius: 3px;
    border-color: transparent;
    font-weight: bold;
}
.chec-radio label.radio-inline input[type="radio"][disabled] :checked+div 
{
    border-color: purple;
}
#type{
    background-color: #ffcc1b;
    color: black;
    border-style: none;
    padding-top: 1.4vw;
    font-weight:650;
    margin-right:10px;
}
h1{
    font-size:70px;
    color:#ffcc1b;
    text-shadow: 4px 4px #452065;
}
.margin-top-set{
    margin-top:5%;
}
#amount{
    color:white;
    font-weight: 600;
    background-color:transparent;
    border-radius: 0px;
    width:90px;
    height:30px;
    border: 2.5px solid;
    cursor:pointer;
    text-align: center;
}
.submit_but{
    color:white;
    font-weight: 600;
    background-color:transparent;
    border-radius: 0px;
    width:150px;
    height:30px;
    border: 2.5px solid;
    cursor:pointer;
}
.submit_but:hover{
    background-color: white;
    color:#8fd2c9;
    font-weight: 700;
    border: none;
}

#operate{
    color:white;
    font-weight: 600;
    background-color:transparent;
    border-radius: 0px;
    width:30px;
    height:30px;
    border: 2.5px solid;
    cursor:pointer;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: white;
}
#gray{
    color: gray;
    border-color:gray;
}

.pic{
    position:relative;
}
.img-bottle {
    position: absolute;
}
.bottle {
    overflow: hidden;
    border: none;
    outline: none;
    background-color: transparent;
    
}
.bottle_pos{
    width:100%;
    height: auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.grid{
    display: grid;
    grid-template-columns: 29% 65%;
    grid-gap: 6%;
    padding:0%;
}


@media only screen and (max-width: 1200px) {
    .grid{
        display: block;
        margin-right: auto;
        margin-left: auto;
        position:relative;
        width:100%;
    }
    .pic{
        margin-right: auto;
        margin-left: auto;
        width:35%;
        height:auto;
    }
    .bottle_pos{
        position:static;
        top:0%;
        left:0%;
        transform: translate(0%,0%);
    }
    .choice{
        width:100%;
    }
    ul.chec-radio {
        margin: 8px;
        margin-left:7%;
    }
}

@media only screen and (max-width: 1000px) {
    .grid{
        display: block;
        margin-right: auto;
        margin-left: auto;
        position:relative;
        width:100%;
    }
    .chec-radio .radio-inline .clab {
        cursor: pointer;
        background: transparent;
        padding-top: 1.3vw;
        text-align: center;
        text-transform: uppercase;
        color: white;
        position: relative;
        width: 7vw;
        height: 4vw;
        line-height:93%;
        float: left;
        margin: 0;
        border-radius: 2px;
        border: 0.2vw solid white;
        font-size: 1.1vw;
        font-weight: 400;
    }
}

.loading{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/custom_bg.jpg');
}

