/* index */
@font-face {
    font-family: YGTH;
    src: url(/font/YuGothM.ttc);
}
@font-face {
    font-family: Lemonism;
    src: url(/font/lemonismDEMO.otf);
}
@font-face {
    font-family: Hvs;
    src: url(/font/HaventSleptInTwoDaysShadow.ttf);
}
body{
    display: block;
    margin: 0px;
}
.white_reg{
    position: fixed;
    height: 30%;
    width: 100%;
    bottom:0;
    color:#8ED2C9;
}
.blue_reg{
    position:fixed;
    height: 70%;
    width: 100%;
    background-color: #8ED2C9;
    z-index: -1;
}
.head{
    position:relative
}
.text_head{
    position:absolute;
    width:100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.center1{
    color: white;
    font-family: Hvs;
    font-size:5vw;
    text-shadow:1px 1px 5px grey;
}

.center3{
    color: #8ED2C9;
    font-family: Hvs;
    font-size:53px;
    text-shadow:1px 1px 5px grey;
}
.center2{
    color: white;
    font-family: Lemonism;
    font-size: 4vw;
    text-shadow:1px 1px 5px grey;
}
.pos_cen{
    display:grid;
    grid-template-columns: 60% 40%;
    position: fixed;
    height:70%;
    top:0;
    width: 100%;
    text-align: center;
    line-height: 1.25;
    background-color: #8ED2C9;
}
.pos_cen2{
    position: relative;
    width: 65%;
    top: 15%;
    text-align: center;
    line-height: 1.25;
}

.yugo{
    font-family: YGTH;
    font-weight: 700;
}
.aunt{
    position:relative;
}
.auntie{
    position:absolute;
    height: auto;
    width:70%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#button1_index{
    display:inline-block;
    padding:12px 14px;
    border:2.5px solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color:#8ED2C9;
    font-weight: 700;
    cursor:pointer;
}
#button1_index:hover{
    color:#8ED2C9;
    background-color:#FFFFFF;
}
.viewf{
    font-size: 13px;
}
.readmore{
    font-size:10px;
}
a#button2_index{
    display:inline-block;
    padding:8px 15px;
    border:2.5px solid #8ED2C9;
    box-sizing: border-box;
    text-decoration:none;
    color:#8ED2C9;
    text-align:center;
    transition: all 0.2s;
}
a#button2_index:hover{
    color:#FFFFFF;
    background-color:#8ED2C9;
}
.index_info{
    font-size: 0.65vw;
}
.pos_col{
    position: relative;
    padding: 10% 10%;
    /*width:25%;*/
    text-align: center;  
    margin-top:  auto;
    margin-bottom: auto;
}
.col3{
    display: grid;
    grid-template-columns: 30% 32.5% 35%;
}
.col4{
    position: relative;
    top: 7%;
    display: inline;
    /* grid-template-columns: 33% 33% 33%; */
}
.snsicon{
    padding-right:25px; 
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-4px);
}

#admin_button{
    display:inline-block;
    padding:12px 14px;
    margin-left: 20%;
    width:20%;
    border:2.5px solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color:#8ED2C9;
    cursor:pointer;
    margin-top:10%;
    font-weight: 500;
}
#admin_button:hover{
    color:#8ED2C9;
    background-color:#FFFFFF;
}
#admin_button2{
    display:inline-block;
    padding:12px 14px;
    margin-left: 20%;
    width:20%;
    border:2.5px solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color:#8ED2C9;
    cursor:pointer;
    margin-top:3%;
    font-weight: 500;
}
#admin_button2:hover{
    color:#8ED2C9;
    background-color:#FFFFFF;
}
.h_p{
    font-size: 1.3vw;
}

