body{
    background-color: palevioletred;
}

.block{
    width: 140px;
    height:30px;
    border:1px solid lightpink;
}
.btn-size{
    width:30px;
    height:30px;
    cursor: pointer;
}

#count{
    text-align: center;
    height:30px;
    width:120px;
    border:1px solid red;
}