body{
    display: block;
    margin: 0px 0px;
    background-color: black;
}
.bg_track{
    position: fixed;
    width:1280px;
    height: auto;
    z-index: -2;
    opacity: 0.89;
}
.track_parting{
    display: grid;
    grid-template-columns: 40% 40%;
    position: relative;
    left: 10%;
    top: 10%;
}
table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    /* margin: 8% auto; */
    text-align: center;
}
.bill_childtable {

    padding: 5px;
    /* border: 2px solid black; */
    /* font-size: 20px; */
    /* position: relative; */
    /* text-align:center; */
}
.bill_childbox{
    position: relative;
    /* left: 15%; */
    width: 70%;
    border: 2px solid pink;
    margin: 0% auto;
}
.bill_headbox{
    
    position: relative;
    /* left: 15%; */
    width: 50%;
    /* height: 40px; */
    /* border: 2px solid pink; */
    padding: 60px;
    /* margin: 0% auto; */
}

.orderown_headbox{
    width: 80%;
    height: 30%;
    background-color: #ffcc1c;
    position:absolute;
    z-index:-1;
    top:50%;
    left: 10%;
    /* border:4px solid green; */
}
.orderown_headword{
    color: white;
    text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.8);
    font-size: 38px;
    font-weight: 500;
    position: absolute;
    transform:translate(-50%,-50%);
    top:-7%;
    left:50%;
    width:100%;
    text-align: center;
    
    /* border: 4px solid black; */
}
#button_track{
    display:inline-block;
    padding:18px 115px;
    /* position: absolute; */
    border:2.5px solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color:transparent;
    font-weight: 500;
    cursor:pointer;
    font-size: 20px;
}
#button_track:hover{
    color:#8ED2C9;
    background-color:#FFFFFF;
}