body{
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)), url('/img/order_own/orderown_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
.bg_track{
    position: fixed;
    width:1280px;
    height: auto;
    z-index: -2;
    opacity: 0.89;
}
.track_parting{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5%;
    position: relative;
    padding-left: 7vw;
    padding-right: 7vw;
    top: 10%;
}
table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    /* margin: 8% auto; */
    text-align: center;
}
.bill_childtable {

    padding: 5px;
    /* font-size: 20px; */
    position: relative;
    /* text-align:center; */
    height:6vw;
    margin-left:auto;
}
.bill_childbox{
    position: relative;
    /* left: 15%; */
    width: 70%;
    margin: 0% auto;
}
.bill_headbox{
    
    position: relative;
    /* left: 15%; */
    width: 50%;
    /* height: 40px; */
    /* border: 2px solid pink; */
    padding: 5vw;
    /* margin: 0% auto; */
}

.orderown_headbox{
    width: 90%;
    height: 30%;
    background-color: #ffcc1c;
    position:absolute;
    z-index:-1;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border:4px solid green; */
}
.orderown_headword{
    color: white;
    text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.8);
    font-size: 2.75vw;
    font-weight: 500;
    position: absolute;
    transform:translate(-50%,-50%);
    top:-7%;
    left:50%;
    width:100%;
    text-align: center;
    
}
#button_track{
    display:inline-block;
    height:5vw;
    width:25vw;
    margin-left:auto;
    margin-right: auto;
    position: absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:2.5px solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
    background-color:transparent;
    cursor:pointer;
}
#user{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position:absolute;
    font-weight: 500;
    font-size: 1.5vw;
    color:#FFFFFF;
}
#button_track:hover{
    color:#8ED2C9;
    background-color:#FFFFFF;
}